doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title About
  link(rel='shortcut icon' href='../img/images/logo/icon.png' type='image/x-icon')
  link(rel='stylesheet' href='../asset/style.css')
  link(rel='stylesheet' href='../css/bootstrap.min.css')
  link(rel='stylesheet' href='../icon/fontawesome/css/all.min.css')
body
  header
    .container-fluid.header-menu
      .HED
        .col-lg-4.logo
          a(href='index.html')
            img(src='../img/images/logo/logo.png' alt='')
        .col-lg-8
          nav.navbar.navbar-expand-lg.navbar-dark
            #collapsibleNavId.collapse.navbar-collapse.menuone.vang
              ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                li.nav-item.dropdown
                  a#dropdownId.nav-link(href='index.html') Home
                li.nav-item.dropdown
                  a#dropdownId.nav-link(href='about.html' style='color:#e52e71;') About
                li.nav-item.dropdown
                  a#dropdownId.nav-link(href='servicer.html') Services
                li.nav-item.dropdown
                  a#dropdownId.nav-link(href='gollery.html') Gallery
                li.nav-item.dropdown
                  a#dropdownId.nav-link(href='blog.html') Blog
                li.nav-item.dropdown
                  a#dropdownId.nav-link(href='contact.html') Contact
  .ready.banner-padding.bg-img.bg-fixed.valign(data-background='../img/images/slider/05.jpg' style='background-image: url("../img/images/slider/05.jpg");')
    .container
      .row
        .col-md-12
          .text-right
            .title.mt-td
              h1.mb-0 ABOUT US
              h6 Welcome bring the best service!
  .section-padding
    .container
      .row
        .col-md-8.mb-30
          span 15 years experience
          h1 About the Fredia
          p
            | Makeup faucibus mi id convallis pulvinar velit est vulputate elit sed suscin the maurisen anteeget mi. Mauris tincidunt nulla. Donec velit urna congue et magna uthe consele tecmetur accumsan turpis. Etiam ac torto the luctus. Etiam ac tortor porttitor lucte odio ac aliquam augue.
          p
            | Praesent dienis elementum erateu interdun elit ullamcorper sit amet. Curabitur man ipse rhoncus felis nothe viverra dana elemtum velit. The etiam ac tortor porttitor luctus odio ac aliquam augue. Praesent the dienis elemen erateun interdun elit. Curabitur man ipse rhoncus felis nonte viverra.
          p.text-right.mb-0
            span Fredia Victoria
          p.text-right Head Makeup Artist &amp; Hairstylist and Founder
        .col-md-4
          .fredia-about-img
            .img
              img(src='../img/images/about/about.jpg' alt='')
  .team.section-padding.bg-gray
    .container
      .row
        .col-md-12
          span Choose best for you
          h1 Meet Awesome Team
      .row
        .col-lg-3
          .owl-item.active(style='width: 247.5px; margin-right: 30px;')
            .titem.text-center
              .team-img
                img(src='../img/images/t1.jpg' alt='')
              .info
                h6 Fredia Victoria
                span Makeup Artist
                ul.social
                  li
                    a(href='#0')
                      i.fa-brands.fa-twitter
                  li
                    a(href='#0')
                      i.fa-brands.fa-instagram
                  li
                    a(href='#0')
                      i.fa-brands.fa-facebook
        .col-lg-3
          .owl-item.active(style='width: 247.5px; margin-right: 30px;')
            .titem.text-center
              .team-img
                img(src='../img/images/about/t2.jpg' alt='')
              .info
                h6 Emily Martin
                span Makeup Artist
                ul.social
                  li
                    a(href='#0')
                      i.fa-brands.fa-twitter
                  li
                    a(href='#0')
                      i.fa-brands.fa-instagram
                  li
                    a(href='#0')
                      i.fa-brands.fa-facebook
        .col-lg-3
          .owl-item.active(style='width: 247.5px; margin-right: 30px;')
            .titem.text-center
              .team-img
                img(src='../img/images/about/t3.jpg' alt='')
              .info
                h6 Janet Doe
                span Makeup Artist
                ul.social
                  li
                    a(href='#0')
                      i.fa-brands.fa-twitter
                  li
                    a(href='#0')
                      i.fa-brands.fa-instagram
                  li
                    a(href='#0')
                      i.fa-brands.fa-facebook
        .col-lg-3
          .owl-item.active(style='width: 247.5px; margin-right: 30px;')
            .titem.text-center
              .team-img
                img(src='../img/images/about/t4.jpg' alt='')
              .info
                h6 Betty Lion
                span Makeup Artist
                ul.social
                  li
                    a(href='#0')
                      i.fa-brands.fa-twitter
                  li
                    a(href='#0')
                      i.fa-brands.fa-instagram
                  li
                    a(href='#0')
                      i.fa-brands.fa-facebook
  .testimonials.section-padding.bg-img.bg-fixed(data-background='../img/images/slider/02.jpg' style='background-image: url("../img/images/slider/02.jpg");')
    .container
      .row
        .col-md-12.text-center
          span Kind words...
          h1 What Client Say
      .row
        section.testimonial
          .testiBox.row
            .col-lg-4
              .testimonialBx
                p Fredia is fantastic! From someone who is very particular about their make up, Fredia gave me the best makeover I could have imagined, and all worries flew away. Fredia is also a very fast and dynamic hairstylist too.
                hr
                figure
                  img(src='https://images.unsplash.com/flagged/photo-1574874897534-036671407eda?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=698&q=80' alt='Allian Collins Image')
                h3 Emily Betty
            .col-lg-4
              .testimonialBx
                p Fredia is fantastic! From someone who is very particular about their make up, Fredia gave me the best makeover I could have imagined, and all worries flew away. Fredia is also a very fast and dynamic hairstylist too.
                hr
                figure
                  img(src='https://images.unsplash.com/photo-1484399172022-72a90b12e3c1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80' alt='Allian Collins Image')
                h3 Allian Collins
            .col-lg-4
              .testimonialBx
                p  Fredia is fantastic! From someone who is very particular about their make up, Fredia gave me the best makeover I could have imagined, and all worries flew away. Fredia is also a very fast and dynamic hairstylist too.
                hr
                figure
                  img(src='https://images.unsplash.com/photo-1602368987717-c41505af4151?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80' alt='Allian Collins Image')
                h3 Betty Dan
  footer
    .container
      .footer-section
        .row
          .col-md-4.col-lg-4.col-xl-4
            h6 Address Informations
            p
              b Fredia Victoria
              br
              p Makeup Artist
            p 707 West Ave, CT 07750
            p Connecticut — Norwalk 
          .col-md-4.col-lg-4.col-xl-5
            <h6>Contact Details</h6>
            p E-mail Address:
            p reservation@frediasan.com
            .btn-cont
              a(href="contact.html")
                span Contact Us!
          .col-md-4.col-lg-4.col-xl-3
            h1 (+123) 456 789 000
            p Working Hours:
              | Mon-Fri: 08.00 - 19.00
              | Sunday: Closed
  button#mybtn(onclick='topFunction()' title='Go to top')
    i.fa-solid.fa-jet-fighter-up
  script(src="../js/script.js")
  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
