doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Services
  link(rel='shortcut icon' href='../img/images/logo/icon.png' type='image/x-icon')
  link(rel='stylesheet' href='../asset/style.css')
  link(rel='stylesheet' href='../css/bootstrap.min.css')
  link(rel='stylesheet' href='../icon/fontawesome/css/all.min.css')
body
  header
    .container-fluid.header-menu
      .HED
        .col-lg-4.logo
          a(href='index.html')
            img(src='../img/images/logo/logo.png' alt='')
        .col-lg-8
          nav.navbar.navbar-expand-lg.navbar-dark
            #collapsibleNavId.collapse.navbar-collapse.menuone.vang
              ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                li.nav-item.dropdown
                  a#dropdownId.nav-link(href='index.html') Home
                li.nav-item.dropdown
                  a#dropdownId.nav-link(href='about.html') About
                li.nav-item.dropdown
                  a#dropdownId.nav-link(href='servicer.html' style='color:#e52e71;') Services
                li.nav-item.dropdown
                  a#dropdownId.nav-link(href='gollery.html') Gallery
                li.nav-item.dropdown
                  a#dropdownId.nav-link(href='blog.html') Blog
                li.nav-item.dropdown
                  a#dropdownId.nav-link(href='contact.html') Contact
  .ready.banner-padding.bg-img.bg-fixed.valign(data-background='../img/images/slider/03.jpg' style='background-image: url("../img/images/slider/3.jpg");')
    .container
      .row
        .col-md-12
          .text-right
            .title.mt-td
              h1.mb-0 FACE MAKEUP
              h6 We provide quality services
  .section-padding
    .container
      .row
        .col-md-12
          span Senior Service
          h1 Face Makeup
      .row
        .col-md-8
          p
            | Face ultricies nibh noneu maximus scelerisque. Integer molliser faucibus neque nectar tince duntal. Aliquam erat volutpat. Praeser the tempe maluada quam nec rutue arcu ornare sesi.
          p
            | Makeup molliser fauci neque nec tincidunte. Aliquam eratye volutpat. Praeser tempor maladi quam nec rutrum arcu ornare sed. Duru egite liea nibh viverra ultricies. Nunc lorem  vivense design torral ipsum dolar a ranish maximus. Proin ultricies nibh noneu maximu scelerisque.
          br
          .row.services-price.mb-30
            .col-md-12
              .services-price-info
                h5.title
                  | Eye Makeup 
                  span.price $130,00
                p
                  | Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.
              .services-price-info
                h5.title
                  | Eyebrow Makeup 
                  span.price $140,00
                p
                  | Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.
              .services-price-info
                h5.title
                  | Face Makeup 
                  span.price $160,00
                p
                  | Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.
        .col-md-3.offset-md-1.text-center
          img.mb-30(src='../img/images/t1.jpg' alt='')
          h4 Fredia Victoria
      .row.mt-60
        .col-md-4.gallery-item
            .gallery-box
              .gallery-img
                img.img-fluid.mx-auto.d-block(src='../img/images/gollry/1.jpg' alt='')
              .gallery-detail.text-center
                i.ti-plus
        .col-md-4.gallery-item
            .gallery-box
              .gallery-img
                img.img-fluid.mx-auto.d-block(src='../img/images/gollry/2.jpg' alt='')
              .gallery-detail.text-center
                i.ti-plus
        .col-md-4.gallery-item
            .gallery-box
              .gallery-img
                img.img-fluid.mx-auto.d-block(src='../img/images/gollry/3.jpg' alt='')
              .gallery-detail.text-center
                i.ti-plus
        .col-md-4.gallery-item
            .gallery-box
              .gallery-img
                img.img-fluid.mx-auto.d-block(src='../img/images/gollry/4.jpg' alt='')
              .gallery-detail.text-center
                i.ti-plus
        .col-md-4.gallery-item
            .gallery-box
              .gallery-img
                img.img-fluid.mx-auto.d-block(src='../img/images/gollry/5.jpg' alt='')
              .gallery-detail.text-center
                i.ti-plus
        .col-md-4.gallery-item
            .gallery-box
              .gallery-img
                img.img-fluid.mx-auto.d-block(src='../img/images/gollry/6.jpg' alt='')
              .gallery-detail.text-center
                i.ti-plus
  footer
    .container
      .footer-section
        .row
          .col-md-4.col-lg-4.col-xl-4
            h6 Address Informations
            p
              b Fredia Victoria
              br
              p Makeup Artist
            p 707 West Ave, CT 07750
            p Connecticut — Norwalk 
          .col-md-4.col-lg-4.col-xl-5
            <h6>Contact Details</h6>
            p E-mail Address:
            p reservation@frediasan.com
            .btn-cont
              a(href="contact.html")
                span Contact Us!
          .col-md-4.col-lg-4.col-xl-3
            h1 (+123) 456 789 000
            p Working Hours:
              | Mon-Fri: 08.00 - 19.00
              | Sunday: Closed
  button#mybtn(onclick='topFunction()' title='Go to top')
    i.fa-solid.fa-jet-fighter-up
  script(src="../js/script.js")
  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")


